cmake-build-debug
.idea
out

/CTestTestfile.cmake
/Makefile
/CMakeCache.txt
/cmake_install.cmake
/CMakeFiles/
/LinearLib_Tests
/libLinearLib.a
/CPackSourceConfig.cmake
/CPackConfig.cmake
/install_manifest.txt
